<br><br>
<div class="card-container top-card">
    <div class="card">
      <div class="card-left">
        <h2>About Us</h2>
      </div>
      <div class="card-right">
        <p>
        </p>
      </div>
    </div>
  </div>

  <!-- <div class="timer-cover"></div>
  <script src="https://static.elfsight.com/platform/platform.js" async></script>
  <div class="elfsight-app-ee821e27-2053-406b-a933-e6850665e3dc timer" data-elfsight-app-lazy></div>  -->
  
  <!-- Second card -->
  <div class="card-container contact-card">
    <div class="card second-card">
      <div class="card-left">
        <h2>Contact Us</h2>
        <p>Lafferre Hall</p>
        <p>416 S. 6th St.</p>
        <p>Columbia, MO 65201</p>
        <p>sae&#64;missouri.edu</p>
      </div>
      <div class="card-right">
        <img src="../../../assets/home/22Reveal-18.jpg" alt="Contact Image" class="contact-image">
      </div>
    </div>
  </div>
  