
<div id="the-grid">

    <div class="card-container contact-card long-grid-item">
      <div class="card top-card-long">
        <div class="card-left">
          <h2>TEST</h2>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat, ab distinctio soluta eos perspiciatis magni error sunt repellendus itaque possimus corporis! Vel dolor culpa dolorem eaque. Sed eligendi iure distinctio!
          </p>
        </div>
      </div>
    </div>

  <div class="card-container contact-card leftmost-grid-item">
      <div class="card first-card">
        <div class="card-left">
          <h2>Projects</h2>
          <p>
            &#x2BC8;Increase creativity around applications of coursework.<br>
            &#x2BC8;Become a workshop for people's projects.<br>
            &#x2BC8;Get people into contact with others for services we can't provide.<br>
          </p>
        </div>
      </div>
    </div>

    <!-- <div class="timer-cover"></div>
    <script src="https://static.elfsight.com/platform/platform.js" async></script>
    <div class="elfsight-app-ee821e27-2053-406b-a933-e6850665e3dc timer" data-elfsight-app-lazy></div>  -->
    
    <!-- Second card -->
    <div class="card-container contact-card">
      <div class="card second-card">
        <div class="card-left">
          <h2>Teams</h2>
          <p>
            &#x2BC8;Get more students involved with teams.<br>
            &#x2BC8;Give teams a place to point new members towards to learn.<br>
          </p>
        </div>
      </div>
    </div>

      <div class="card-container contact-card">
      <div class="card third-card">
        <div class="card-left">
          <h2>Labs</h2>
          <p>
            &#x2BC8;Connect more students with professors for research.<br>
            &#x2BC8;Improve knowledge of topics of research at Mizzou.<br>
          </p>
        </div>
      </div>
    </div>
  
</div>

